<template>
  <div class="casual-stats-wrapper">
    <div v-if="Object.keys(casualStatsInput).length > 0">
      <div class="casual-stats-heading-wrapper">
        <h2 class="casual-stats-heading">Casual Statistics</h2>
        <button
          @click="() => mainStore.setShowCasualStats(!showSelf)"
          class="scribe-button toggle-button"
        >
          <vue-feather type="chevron-right" v-show="!showSelf" size="15" />
          <vue-feather type="chevron-down" v-show="showSelf" size="15" />
        </button>
      </div>
      <CollapseTransition :duration="200">
        <div
          v-if="Object.keys(casualStatsInput).length > 0"
          class="categories"
          v-show="showSelf"
        >
          <div
            v-for="category in casualStatsCategories"
            :key="category.name"
            class="category bottom-corner-borders"
          >
            <div class="category-title">{{ category.name }}</div>
            <CasualStatEntry v-for="stat in category.stats" :key="stat">
              <template v-slot:description>
                {{ CASUAL_STAT_NAME[stat] }}
              </template>
              <template v-slot:value>
                <span class="stat-value">
                  {{ casualStats[stat].toLocaleString() }}
                </span>
                <span
                  v-if="category.calculatePercentage"
                  class="stat-percentage-wrapper"
                >
                  <span class="stat-percentage-divider"></span>
                  <span class="stat-percentage">
                    {{ casualStatsPercentages[stat] }}%
                  </span>
                </span>
              </template>
            </CasualStatEntry>
          </div>
        </div>
      </CollapseTransition>
    </div>

    <div v-else class="">
      <span class="stats-hidden">Casual stats are hidden</span>
      <button
        class="scribe-button explanation-button"
        @click="
          () => (showHiddenStatsExplanation = !showHiddenStatsExplanation)
        "
      >
        <span v-show="!showHiddenStatsExplanation">?</span>
        <vue-feather type="x" v-show="showHiddenStatsExplanation" size="15" />
      </button>

      <CollapseTransition :duration="200">
        <div v-show="showHiddenStatsExplanation" class="stats-hidden-faq">
          This player's Steam game details are not public.<br />
          If this is you and you would like to share your game statistics with
          everyone, including Scribe, follow
          <a
            class="scribe-link"
            href="https://help.steampowered.com/en/faqs/view/588C-C67D-0251-C276"
            target="_blank"
            rel="noopener noreferrer"
            >these instructions</a
          >
          and select "Game details: Public" in your privacy settings.<br />
          Note that it is not necessary to share your total play time.
        </div>
      </CollapseTransition>
    </div>
  </div>
</template>

<script setup>
import CollapseTransition from '@ivanv/vue-collapse-transition/src/CollapseTransition.vue'
import CasualStatEntry from '@/components/profile/CasualStats/CasualStatEntry.vue'
import { CASUAL_STATS_CATEGORIES, CASUAL_STAT_NAME } from '@/_helpers/enums'
import { computed, ref } from 'vue'
import { useMainStore } from '@/stores/main'

const props = defineProps({
  platform: {
    required: true,
  },
  casualStatsInput: {
    default: {},
  },
})

const showHiddenStatsExplanation = ref(false)

const mainStore = useMainStore()
const showSelf = computed(() => mainStore.showCasualStats)

const casualStats = { ...props.casualStatsInput }
const casualStatsPercentages = {}
const casualStatsCategories = []

CASUAL_STATS_CATEGORIES.forEach((categoryInput) => {
  const category = { ...categoryInput }
  category.stats.forEach((stat) => {
    if (!casualStats[stat]) casualStats[stat] = 0
  })

  if (category.calculatePercentage) calculateCategoryPercentages(category)
  if (category.sort) sortCategoryEntries(category)

  casualStatsCategories.push(category)
})

function calculateCategoryPercentages(category) {
  const sum = category.stats.reduce((sum, val) => sum + casualStats[val], 0)
  category.stats.forEach((stat) => {
    casualStatsPercentages[stat] = ((casualStats[stat] / sum) * 100).toFixed(1)
  })
}

function sortCategoryEntries(category) {
  category.stats = [...category.stats]

  category.stats.sort(
    (first, second) => casualStats[second] - casualStats[first]
  )
}
</script>

<style lang="scss">
.casual-stats-wrapper {
  position: relative;
}

.casual-stats-heading {
  @include font-size(1.4rem);
  color: $highlight-font-color;
  margin: 0;
  display: inline-block;
  font-weight: 400;
}

.toggle-button {
  margin: 0 0.5rem;
  width: 2.5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.category {
  flex-grow: 1;
  max-width: 15rem;
  width: 10rem;
  min-width: 5rem;
  padding: 0.2rem 0.4rem;
  @include font-size(1.1rem);

  @media (min-width: $base-width) {
    flex-basis: 50%;
  }
}

.stat-percentage-wrapper {
  width: 4rem;
  display: flex;
  justify-content: space-between;
}
.stat-percentage-divider {
  flex-grow: 1;
  justify-items: center;
}
.stat-percentage {
  text-align: right;
}
.category-title {
  @include font-size(1.4rem);
  color: $highlight-font-color;
}

.stats-hidden {
  @include font-size(1.2rem);
  color: $warning-font-color;
}

.stats-hidden-faq {
  @include font-size(1.1rem);
  max-width: 50rem;
}

.explanation-button {
  margin-left: 0.5rem;
  width: 2.5rem;
}
</style>
