<template>
  <ScribeTooltip>
    <template #content>
      <slot name="tooltip"></slot>
      <div v-if="time > 0">until {{ endDate }}</div>
    </template>
    {{ statusWithTime }}
  </ScribeTooltip>
</template>

<script>
import DateFnsWrapper from '@/_helpers/dateFnsWrapper'
import ScribeTooltip from '@/components/ScribeTooltip'

export default {
  props: {
    time: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  components: {
    ScribeTooltip,
  },
  computed: {
    endDate() {
      return new Date(this.time * 1000)
    },
    endDateFromNow() {
      return DateFnsWrapper.formatDistanceToNow(this.endDate)
    },
    statusWithTime() {
      if (this.time == 0) {
        return this.title + ' (permanent)'
      } else {
        return `${this.title} (ends in ${this.endDateFromNow})`
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
