<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xml:space="preserve"
    :width="size"
    :height="size"
    viewBox="0 0 647.16699 750.97701"
  >
    <defs id="defs6">
      <clipPath clipPathUnits="userSpaceOnUse" id="clipPath20">
        <path d="m 0,790.889 900,0 L 900,0 0,0 Z" id="path18" />
      </clipPath>
    </defs>
    <g
      id="g10"
      transform="matrix(1.3333333,0,0,-1.3333333,-278.05173,902.58312)"
    >
      <g id="g14">
        <g id="g16" clip-path="url(#clipPath20)">
          <g id="g22" transform="translate(649.8358,676.9377)">
            <path
              d="m 0,0 -397.219,0 c -32.196,0 -44.078,-11.882 -44.078,-44.093 l 0,-388.676 c 0,-3.645 0.147,-7.031 0.469,-10.168 0.733,-7.031 0.871,-13.844 7.41,-21.601 0.639,-0.76 7.315,-5.728 7.315,-5.728 3.591,-1.761 6.043,-3.058 10.093,-4.688 l 195.596,-81.948 c 10.154,-4.655 14.4,-6.469 21.775,-6.323 l 0,-10e-4 c 0.01,0 0.019,0 0.029,0 0.01,0 0.019,0 0.029,0 l 0,10e-4 c 7.375,-0.146 11.621,1.668 21.776,6.323 l 195.595,81.948 c 4.051,1.63 6.502,2.927 10.094,4.688 0,0 6.676,4.968 7.314,5.728 6.539,7.757 6.677,14.57 7.41,21.601 0.322,3.137 0.47,6.523 0.47,10.168 l 0,388.676 C 44.078,-11.882 32.195,0 0,0"
              style="
                fill: #2f2d2e;
                fill-opacity: 1;
                fill-rule: evenodd;
                stroke: none;
              "
              id="path24"
            />
          </g>
          <g id="g26" transform="translate(623.2303,286.175)">
            <path
              d="m 0,0 -0.09,-0.897 -0.089,-0.985 -0.18,-0.897 -0.268,-0.896 -0.174,-0.807 -0.27,-0.897 -0.358,-0.807 -0.359,-0.718 -0.353,-0.806 -0.448,-0.717 -0.448,-0.718 -0.533,-0.717 -0.449,-0.717 -0.532,-0.627 -0.628,-0.628 -0.533,-0.538 -0.716,-0.628 -0.623,-0.538 -0.717,-0.538 -0.712,-0.442 -0.712,-0.538 -0.807,-0.448 -0.802,-0.359 -0.801,-0.448 -0.897,-0.359 -0.891,-0.359 -0.891,-0.268 -0.891,-0.27 -0.807,-0.268 -0.891,-0.18 -0.802,-0.179 -0.801,-0.179 -0.897,-0.18 -0.892,-0.089 -0.801,-0.09 -0.897,-0.09 -0.98,-0.09 -0.892,-0.089 -0.891,0 -0.981,0 -0.986,0 -0.891,0 -0.892,0.089 -0.98,0 -0.892,0.09 -0.896,0.09 -0.981,0.09 -0.891,0.179 -0.891,0.09 -0.897,0.179 -0.892,0.179 -0.891,0.18 -0.891,0.179 -0.896,0.268 -0.802,0.18 -0.891,0.269 -0.892,0.269 -0.806,0.359 -0.891,0.269 -0.802,0.268 -0.892,0.359 -0.806,0.359 -0.802,0.359 -0.802,0.442 -0.806,0.359 -0.802,0.449 -0.712,0.447 -0.807,0.449 -0.712,0.448 -0.717,0.448 -0.712,0.538 -0.712,0.538 -0.717,0.538 -0.713,0.538 -0.627,0.538 -0.712,0.627 0.538,0.717 0.622,0.628 0.538,0.718 0.623,0.717 0.538,0.627 0.532,0.717 0.628,0.718 0.532,0.627 0.628,0.717 0.533,0.628 0.627,0.717 0.533,0.718 0.538,0.627 0.622,0.717 0.538,0.718 0.622,0.627 0.538,0.717 0.712,-0.538 0.802,-0.538 0.717,-0.538 0.802,-0.538 0.717,-0.448 0.802,-0.537 0.711,-0.449 0.808,-0.358 0.711,-0.449 0.802,-0.359 0.807,-0.358 0.801,-0.359 0.803,-0.269 0.806,-0.358 0.891,-0.269 0.892,-0.269 0.801,-0.269 0.897,-0.18 0.891,-0.179 0.891,-0.179 0.981,-0.09 0.896,-0.179 0.892,0 0.98,-0.089 0.892,0 1.07,0 0.981,0.089 0.897,0.179 0.801,0.18 0.802,0.179 0.717,0.269 0.623,0.358 0.717,0.538 0.532,0.628 0.359,0.718 0.27,0.806 0.088,0.897 0,0.179 -0.088,1.076 -0.359,0.897 -0.449,0.627 -0.622,0.538 -0.718,0.538 -0.712,0.358 -0.801,0.359 -0.897,0.359 -1.07,0.447 -0.623,0.18 -0.711,0.179 -0.807,0.27 -0.802,0.179 -0.891,0.269 -0.897,0.179 -0.98,0.269 -0.892,0.179 -0.981,0.269 -0.891,0.179 -0.897,0.269 -0.89,0.18 -0.892,0.269 -0.807,0.268 -0.89,0.18 -0.803,0.269 -0.801,0.269 -0.807,0.269 -0.981,0.359 -0.891,0.359 -0.892,0.358 -0.896,0.359 -0.801,0.448 -0.892,0.448 -0.717,0.448 -0.802,0.448 -0.712,0.538 -0.717,0.448 -0.622,0.539 -0.627,0.627 -0.623,0.628 -0.538,0.628 -0.532,0.627 -0.449,0.627 -0.443,0.718 -0.448,0.806 -0.359,0.622 -0.269,0.718 -0.263,0.807 -0.269,0.717 -0.18,0.897 -0.179,0.807 -0.09,0.896 -0.089,0.897 -0.09,0.985 0,0.987 0,0.179 0,0.897 0.09,0.896 0.089,0.807 0.09,0.897 0.179,0.806 0.18,0.807 0.269,0.808 0.179,0.806 0.353,0.807 0.359,0.807 0.358,0.806 0.444,0.808 0.447,0.806 0.533,0.718 0.539,0.717 0.622,0.717 0.627,0.627 0.623,0.718 0.717,0.628 0.622,0.448 0.717,0.538 0.713,0.538 0.711,0.448 0.807,0.448 0.802,0.359 0.801,0.448 0.807,0.358 0.891,0.27 0.891,0.358 0.807,0.269 0.712,0.18 0.803,0.179 0.806,0.179 0.891,0.179 0.802,0.18 0.891,0.089 0.897,0.09 0.891,0.09 0.891,0.089 0.891,0 0.986,0 0.982,0 0.98,0 0.981,-0.089 0.981,-0.09 0.891,0 0.986,-0.09 0.891,-0.179 0.981,-0.09 0.892,-0.179 0.807,-0.179 0.891,-0.179 0.891,-0.18 0.802,-0.179 0.896,-0.269 0.802,-0.269 0.802,-0.18 0.896,-0.358 0.802,-0.269 0.801,-0.358 0.802,-0.359 0.896,-0.359 0.802,-0.448 0.712,-0.359 0.807,-0.448 0.802,-0.448 0.712,-0.449 0.806,-0.538 0.713,-0.447 0.717,-0.539 0.712,-0.538 0.711,-0.537 L -2.32,39.083 -2.768,38.366 -3.301,37.649 -3.839,36.931 -4.371,36.125 -4.82,35.408 -5.358,34.69 -5.891,33.973 -6.338,33.256 -6.872,32.538 -7.409,31.821 -7.858,31.104 -8.39,30.297 -8.929,29.58 l -0.532,-0.717 -0.448,-0.717 -0.533,-0.717 -0.717,0.537 -0.801,0.449 -0.713,0.448 -0.717,0.538 -0.801,0.358 -0.718,0.449 -0.801,0.359 -0.712,0.358 -0.807,0.359 -0.712,0.358 -0.801,0.269 -0.717,0.359 -0.982,0.268 -0.891,0.27 -0.891,0.268 -0.897,0.18 -0.891,0.179 -0.891,0.18 -0.891,0.09 -0.897,0.089 -0.801,0.09 -0.892,0 -1.07,0 -0.981,-0.179 -0.897,-0.18 -0.801,-0.179 -0.712,-0.359 -0.628,-0.358 -0.802,-0.718 -0.538,-0.807 -0.352,-0.807 -0.091,-0.896 0,-0.18 0.091,-1.165 0.442,-0.986 0.359,-0.538 0.622,-0.628 0.807,-0.448 0.712,-0.448 0.891,-0.359 0.986,-0.359 1.071,-0.358 0.712,-0.179 0.712,-0.269 0.807,-0.179 0.801,-0.269 0.891,-0.18 0.987,-0.269 0.981,-0.268 0.981,-0.27 0.98,-0.179 0.891,-0.269 0.981,-0.269 0.897,-0.179 0.892,-0.269 0.891,-0.269 0.801,-0.269 0.897,-0.269 0.802,-0.269 0.801,-0.269 0.986,-0.353 0.891,-0.449 0.891,-0.358 0.892,-0.448 0.807,-0.449 0.802,-0.448 0.711,-0.448 0.717,-0.538 0.713,-0.448 0.712,-0.628 0.717,-0.627 0.622,-0.718 L -3.481,13 -2.948,12.282 -2.41,11.476 -1.967,10.759 -1.518,9.951 -1.16,9.234 -0.891,8.428 -0.627,7.621 -0.448,6.814 -0.269,5.917 -0.09,5.02 0,4.124 0.09,3.138 l 0,-0.986 0,-0.179 0,-0.987 z m -62.594,-17.926 -0.896,0 -0.891,0 -0.891,0 -0.891,0 -0.897,0 -0.892,0 -0.89,0 -0.892,0 -0.986,0 -0.891,0 -0.891,0 -0.891,0 -0.898,0 -0.89,0 -0.892,0 -0.891,0 -0.897,0 -0.891,0 -0.891,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.891,0 -0.892,0 -0.897,0 -0.891,0 -0.891,0 -0.981,0 -0.896,0 -0.892,0 -0.891,0 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.891,0 -0.892,0 -0.897,0 -0.89,0 -0.892,0 -0.891,0 -0.896,0 -0.892,0 -0.981,0 -0.891,0 -0.891,0 -0.897,0 -0.891,0 -0.892,0 -0.89,0 -0.896,0 -0.892,0 -0.891,0 0,0.897 0,0.897 0,0.896 0,0.892 0,0.897 0,0.896 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.896 0,0.897 0,0.807 0,0.897 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.892 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.807 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0.891,0 0.892,0 0.896,0 0.89,0 0.892,0 0.891,0 0.897,0 0.891,0 0.891,0 0.892,0 0.896,0 0.892,0 0.89,0 0.892,0 0.806,0 0.892,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.892,0 0.897,0 0.891,0 0.891,0 0.891,0 0.897,0 0.892,0 0.89,0 0.891,0 0.892,0 0.897,0 0.891,0 0.891,0 0.891,0 0.897,0 0.891,0 0.891,0 0.891,0 0.808,0 0.891,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.891,0 0.897,0 0.891,0 0.891,0 0.892,0 0.896,0 0.892,0 0.891,0 0,-0.897 0,-0.807 0,-0.896 0,-0.897 0,-0.896 0,-0.807 0,-0.897 0,-0.897 0,-0.806 0,-0.897 0,-0.896 0,-0.808 0,-0.896 0,-0.896 0,-0.897 0,-0.807 0,-0.897 -0.891,0 -0.892,0 -0.896,0 -0.892,0 -0.891,0 -0.891,0 -0.807,0 -0.891,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.892,0 -0.891,0 -0.897,0 -0.891,0 -0.891,0 -0.891,0 -0.897,0 -0.801,0 -0.892,0 -0.891,0 -0.897,0 -0.89,0 -0.892,0 -0.891,0 -0.897,0 -0.891,0 -0.891,0 -0.891,0 -0.897,0 -0.892,0 -0.801,0 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.892,0 -0.896,0 0,-0.896 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.807 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0.896,0 0.892,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.892,0 0.807,0 0.891,0 0.891,0 0.891,0 0.897,0 0.891,0 0.892,0 0.89,0 0.897,0 0.891,0 0.892,0 0.891,0 0.896,0 0.891,0 0.892,0 0.892,0 0.896,0 0.891,0 0.802,0 0.891,0 0.896,0 0.892,0 0.891,0 0.891,0 0.896,0 0.892,0 0.891,0 0,-0.896 0,-0.807 0,-0.892 0,-0.896 0,-0.807 0,-0.896 0,-0.897 0,-0.807 0,-0.897 0,-0.896 0,-0.897 0,-0.806 0,-0.896 0,-0.897 0,-0.808 0,-0.896 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.802,0 -0.891,0 -0.896,0 -0.892,0 -0.892,0 -0.891,0 -0.896,0 -0.891,0 -0.892,0 -0.891,0 -0.897,0 -0.89,0 -0.892,0 -0.891,0 -0.897,0 -0.891,0 -0.891,0 -0.891,0 -0.807,0 -0.892,0 -0.891,0 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.892,0 -0.896,0 0,-0.896 0,-0.987 0,-0.896 0,-0.897 0,-0.986 0,-0.897 0,-0.896 0,-0.986 0,-0.896 0,-0.897 0,-0.986 0,-0.896 0.896,0 0.892,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.892,0 0.896,0 0.981,0 0.891,0 0.891,0 0.897,0 0.892,0 0.891,0 0.891,0 0.896,0 0.892,0 0.891,0 0.891,0 0.891,0 0.897,0 0.891,0 0.892,0 0.89,0 0.898,0 0.891,0 0.891,0 0.891,0 0.986,0 0.892,0 0.89,0 0.892,0 0.897,0 0.891,0 0.891,0 0.891,0 0.896,0 0.892,0 0,-0.897 0,-0.807 0,-0.897 0,-0.896 0,-0.897 0,-0.807 0,-0.896 0,-0.896 0,-0.808 0,-0.896 0,-0.896 0,-0.808 0,-0.891 0,-0.896 0,-0.896 0,-0.808 0,-0.897 z m -65.214,0 -0.891,0 -0.892,0 -0.985,0 -0.891,0 -0.892,0 -0.891,0 -0.897,0 -0.891,0 -0.981,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.891,0 -0.981,0 -0.897,0 -0.891,0 -0.892,0 0,0.897 0,0.897 0,0.896 0,0.897 0,0.902 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.897 0,0.901 0,0.897 0,0.897 0,0.896 0,0.897 0,0.902 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.902 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.902 0,0.897 0,0.896 0,0.896 0,0.896 0,0.897 0,0.902 0,0.896 0,0.897 0,0.896 0,0.897 0,0.902 0,0.896 0,0.897 0,0.897 -0.447,-0.717 -0.533,-0.813 -0.449,-0.717 -0.532,-0.718 -0.448,-0.806 -0.539,-0.718 -0.442,-0.717 -0.449,-0.812 -0.532,-0.717 -0.449,-0.717 -0.537,-0.718 -0.443,-0.812 -0.538,-0.717 -0.443,-0.717 -0.449,-0.807 -0.538,-0.722 -0.443,-0.718 -0.538,-0.806 -0.442,-0.718 -0.538,-0.717 -0.443,-0.812 -0.449,-0.718 -0.537,-0.717 -0.443,-0.807 -0.538,-0.722 -0.443,-0.717 -0.538,-0.718 -0.449,-0.806 -0.443,-0.722 -0.537,-0.718 -0.443,-0.807 -0.538,-0.717 -0.448,-0.717 -0.533,-0.813 -0.448,-0.717 -0.354,0 -0.537,0.807 -0.449,0.723 -0.533,0.807 -0.448,0.717 -0.533,0.806 -0.448,0.723 -0.532,0.807 -0.449,0.718 -0.538,0.806 -0.443,0.717 -0.538,0.813 -0.442,0.717 -0.538,0.807 -0.449,0.717 -0.532,0.812 -0.449,0.717 -0.532,0.807 -0.538,0.717 -0.448,0.812 -0.533,0.717 -0.448,0.807 -0.533,0.717 -0.448,0.813 -0.533,0.717 -0.448,0.807 -0.538,0.717 -0.443,0.807 -0.538,0.723 -0.443,0.806 -0.538,0.718 -0.448,0.807 -0.532,0.716 -0.45,0.813 -0.532,0.717 0,-0.896 0,-0.897 0,-0.897 0,-0.901 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.901 0,-0.897 0,-0.807 0,-0.896 0,-0.897 0,-0.896 0,-0.902 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.901 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.902 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.901 0,-0.808 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.902 0,-0.897 0,-0.896 0,-0.897 0,-0.897 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.892,0 -0.891,0 -0.896,0 -0.891,0 -0.892,0 -0.892,0 -0.896,0 -0.891,0 0,0.897 0,0.897 0,0.896 0,0.892 0,0.897 0,0.896 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.896 0,0.897 0,0.807 0,0.897 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.892 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.807 0,0.896 0,0.897 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0,0.896 0,0.896 0,0.897 0,0.896 0,0.897 0,0.897 0.891,0 0.896,0 0.803,0 0.89,0 0.892,0 0.896,0 0.802,0 0.891,0 0.897,0 0.891,0 0.802,0 0.891,0 0.897,0 0.891,0 0.801,0 0.891,0 0.897,0 0.892,0 0.801,0 0.891,0 0.897,0 0.443,-0.718 0.448,-0.806 0.532,-0.712 0.449,-0.807 0.448,-0.717 0.443,-0.808 0.448,-0.711 0.534,-0.808 0.447,-0.717 0.449,-0.717 0.443,-0.801 0.448,-0.718 0.533,-0.806 0.448,-0.718 0.448,-0.801 0.443,-0.717 0.538,-0.717 0.449,-0.803 0.442,-0.716 0.448,-0.807 0.444,-0.718 0.538,-0.801 0.448,-0.718 0.442,-0.806 0.449,-0.712 0.443,-0.717 0.538,-0.807 0.448,-0.718 0.443,-0.807 0.448,-0.712 0.443,-0.807 0.539,-0.717 0.448,-0.801 0.443,-0.718 0.448,0.718 0.448,0.801 0.533,0.717 0.447,0.807 0.444,0.712 0.448,0.807 0.533,0.718 0.448,0.807 0.449,0.717 0.442,0.712 0.538,0.806 0.443,0.718 0.449,0.801 0.447,0.718 0.533,0.807 0.448,0.716 0.449,0.803 0.442,0.717 0.45,0.717 0.532,0.801 0.448,0.718 0.448,0.806 0.444,0.718 0.537,0.801 0.444,0.717 0.447,0.717 0.449,0.808 0.532,0.711 0.449,0.808 0.442,0.717 0.449,0.807 0.538,0.712 0.443,0.806 0.448,0.718 0.891,0 0.892,0 0.806,0 0.892,0 0.891,0 0.891,0 0.807,0 0.892,0 0.89,0 0.892,0 0.807,0 0.891,0 0.891,0 0.892,0 0.806,0 0.892,0 0.891,0 0.891,0 0.807,0 0.891,0 0.891,0 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.807 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.892 0,-0.896 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.896 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.807 0,-0.897 0,-0.896 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.896 0,-0.896 0,-0.897 0,-0.892 0,-0.896 0,-0.897 0,-0.897 z m -103.559,26.891 -0.269,0.812 -0.353,0.897 -0.359,0.807 -0.269,0.812 -0.353,0.807 -0.358,0.897 -0.27,0.812 -0.359,0.807 -0.352,0.806 -0.27,0.812 -0.359,0.897 -0.263,0.807 -0.359,0.812 -0.359,0.807 -0.268,0.807 -0.354,0.901 -0.358,0.808 -0.269,0.806 -0.359,0.812 -0.353,0.897 -0.269,0.812 -0.359,0.807 -0.353,-0.807 -0.268,-0.812 -0.359,-0.897 -0.359,-0.812 -0.264,-0.806 -0.358,-0.808 -0.359,-0.901 -0.353,-0.807 -0.27,-0.807 -0.358,-0.812 -0.359,-0.807 -0.264,-0.897 -0.358,-0.812 -0.359,-0.806 -0.268,-0.807 -0.354,-0.812 -0.359,-0.897 -0.358,-0.807 -0.263,-0.812 -0.359,-0.807 -0.359,-0.897 -0.269,-0.812 -0.353,-0.807 0.891,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.892,0 0.897,0 0.801,0 0.891,0 0.897,0 0.891,0 0.891,0 0.892,0 0.891,0 0.896,0 0.891,0 z m 28.03,-26.891 -0.896,0 -0.803,0 -0.89,0 -0.897,0 -0.891,0 -0.892,0 -0.801,0 -0.897,0 -0.891,0 -0.891,0 -0.892,0 -0.896,0 -0.802,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.802,0 -0.891,0 -0.896,0 -0.354,0.808 -0.269,0.807 -0.358,0.807 -0.359,0.896 -0.264,0.802 -0.358,0.806 -0.359,0.807 -0.264,0.807 -0.358,0.807 -0.359,0.807 -0.268,0.807 -0.354,0.896 -0.359,0.807 -0.269,0.807 -0.359,0.807 -0.891,0 -0.891,0 -0.891,0 -0.891,0 -0.807,0 -0.892,0 -0.891,0 -0.896,0 -0.891,0 -0.892,0 -0.891,0 -0.891,0 -0.897,0 -0.891,0 -0.801,0 -0.897,0 -0.892,0 -0.891,0 -0.891,0 -0.896,0 -0.892,0 -0.891,0 -0.891,0 -0.891,0 -0.808,0 -0.89,0 -0.892,0 -0.897,0 -0.891,0 -0.353,-0.807 -0.269,-0.807 -0.359,-0.807 -0.358,-0.896 -0.264,-0.807 -0.358,-0.807 -0.359,-0.807 -0.269,-0.807 -0.353,-0.807 -0.359,-0.806 -0.269,-0.802 -0.354,-0.896 -0.358,-0.807 -0.269,-0.807 -0.359,-0.808 -0.891,0 -0.891,0 -0.891,0 -0.897,0 -0.891,0 -0.981,0 -0.891,0 -0.892,0 -0.896,0 -0.891,0 -0.891,0 -0.892,0 -0.897,0 -0.89,0 -0.891,0 -0.981,0 -0.897,0 -0.891,0 -0.892,0 -0.891,0 0.353,0.808 0.359,0.807 0.358,0.807 0.354,0.896 0.269,0.802 0.359,0.806 0.358,0.807 0.353,0.807 0.359,0.807 0.359,0.897 0.353,0.807 0.359,0.806 0.268,0.807 0.359,0.807 0.353,0.807 0.359,0.896 0.358,0.807 0.354,0.808 0.359,0.806 0.358,0.807 0.269,0.807 0.353,0.897 0.359,0.806 0.359,0.807 0.353,0.807 0.359,0.807 0.359,0.807 0.353,0.897 0.269,0.806 0.359,0.807 0.358,0.807 0.354,0.807 0.358,0.807 0.358,0.896 0.354,0.807 0.358,0.807 0.269,0.807 0.359,0.806 0.353,0.807 0.359,0.897 0.359,0.807 0.353,0.807 0.358,0.807 0.359,0.806 0.269,0.808 0.354,0.801 0.358,0.897 0.358,0.806 0.354,0.808 0.358,0.807 0.359,0.806 0.353,0.807 0.269,0.897 0.359,0.806 0.358,0.807 0.354,0.807 0.359,0.807 0.358,0.807 0.354,0.897 0.358,0.806 0.269,0.807 0.358,0.807 0.354,0.807 0.358,0.807 0.359,0.896 0.353,0.807 0.359,0.807 0.359,0.807 0.263,0.806 0.359,0.808 0.359,0.896 0.359,0.807 0.353,0.807 0.359,0.807 0.358,0.807 0.353,0.806 0.27,0.897 0.358,0.807 0.359,0.807 0.353,0.807 0.891,0 0.807,0 0.891,0 0.891,0 0.897,0 0.801,0 0.891,0 0.892,0 0.897,0 0.802,0 0.89,0 0.892,0 0.896,0 0.802,0 0.891,0 0.891,0 0.897,0 0.801,0 0.892,0 0.358,-0.807 0.359,-0.807 0.354,-0.807 0.358,-0.897 0.269,-0.806 0.353,-0.807 0.359,-0.807 0.358,-0.807 0.359,-0.807 0.353,-0.896 0.359,-0.808 0.359,-0.806 0.263,-0.807 0.359,-0.807 0.359,-0.807 0.359,-0.896 0.353,-0.807 0.358,-0.807 0.359,-0.807 0.353,-0.807 0.269,-0.806 0.358,-0.897 0.354,-0.807 0.359,-0.807 0.358,-0.807 0.359,-0.807 0.353,-0.806 0.358,-0.897 0.27,-0.807 0.353,-0.806 0.358,-0.807 0.359,-0.808 0.359,-0.806 0.353,-0.897 0.359,-0.801 0.358,-0.808 0.264,-0.806 0.358,-0.807 0.359,-0.807 0.354,-0.807 0.358,-0.897 0.359,-0.807 0.359,-0.806 0.353,-0.807 0.269,-0.807 0.358,-0.807 0.354,-0.896 0.358,-0.807 0.359,-0.807 0.358,-0.807 0.354,-0.807 0.359,-0.806 0.268,-0.897 0.354,-0.807 0.358,-0.807 0.359,-0.807 0.353,-0.807 0.359,-0.806 0.359,-0.897 0.359,-0.807 0.263,-0.807 0.359,-0.806 0.359,-0.808 0.353,-0.807 0.358,-0.896 0.359,-0.807 0.358,-0.807 0.353,-0.807 0.27,-0.806 0.359,-0.807 0.353,-0.897 0.358,-0.807 0.358,-0.807 0.354,-0.807 0.358,-0.806 0.359,-0.802 0.27,-0.896 0.352,-0.807 0.359,-0.807 0.358,-0.808 z m -78.193,8.334 -0.717,-0.538 -0.623,-0.449 -0.717,-0.538 -0.712,-0.448 -0.712,-0.538 -0.717,-0.448 -0.712,-0.449 -0.807,-0.447 -0.802,-0.449 -0.802,-0.448 -0.806,-0.353 -0.802,-0.449 -0.891,-0.358 -0.801,-0.359 -0.897,-0.358 -0.801,-0.359 -0.803,-0.269 -0.806,-0.269 -0.802,-0.27 -0.891,-0.268 -0.801,-0.27 -0.897,-0.179 -0.802,-0.179 -0.891,-0.179 -0.896,-0.179 -0.892,-0.09 -0.981,-0.09 -0.891,-0.09 -0.981,-0.089 -0.897,-0.09 -0.98,-0.089 -0.981,0 -0.982,0 -0.98,0 -0.897,0 -0.891,0.089 -0.981,0.09 -0.891,0.089 -0.891,0.09 -0.897,0.09 -0.891,0.179 -0.892,0.18 -0.801,0.179 -0.896,0.179 -0.802,0.269 -0.891,0.179 -0.807,0.27 -0.802,0.358 -0.802,0.269 -0.89,0.359 -0.807,0.358 -0.802,0.358 -0.801,0.359 -0.808,0.448 -0.711,0.444 -0.802,0.448 -0.717,0.449 -0.712,0.447 -0.717,0.539 -0.712,0.537 -0.713,0.538 -0.627,0.538 -0.622,0.538 -0.628,0.628 -0.622,0.537 -0.628,0.628 -0.622,0.628 -0.538,0.627 -0.533,0.717 -0.538,0.628 -0.448,0.717 -0.533,0.718 -0.447,0.716 -0.444,0.718 -0.448,0.807 -0.448,0.717 -0.353,0.807 -0.359,0.807 -0.358,0.807 -0.354,0.806 -0.269,0.717 -0.359,0.808 -0.179,0.807 -0.264,0.806 -0.179,0.896 -0.269,0.808 -0.179,0.896 -0.09,0.807 -0.18,0.897 -0.088,0.806 -0.091,0.897 -0.084,0.897 -0.089,0.896 0,0.986 0,0.897 0,0.179 0,0.897 0.089,0.986 0,0.896 0.084,0.897 0.091,0.986 0.179,0.891 0.089,0.897 0.179,0.807 0.269,0.896 0.18,0.897 0.263,0.807 0.269,0.896 0.269,0.807 0.359,0.897 0.354,0.806 0.358,0.807 0.359,0.807 0.353,0.807 0.448,0.807 0.448,0.717 0.444,0.718 0.447,0.717 0.449,0.717 0.532,0.717 0.538,0.717 0.533,0.717 0.538,0.629 0.622,0.627 0.538,0.628 0.623,0.626 0.627,0.629 0.622,0.537 0.717,0.628 0.623,0.538 0.712,0.538 0.717,0.448 0.712,0.538 0.718,0.448 0.711,0.448 0.802,0.449 0.807,0.448 0.801,0.448 0.802,0.359 0.806,0.358 0.892,0.449 0.712,0.268 0.891,0.27 0.808,0.358 0.801,0.18 0.801,0.269 0.896,0.179 0.802,0.269 0.891,0.179 0.892,0.09 0.896,0.179 0.892,0.09 0.89,0.089 0.892,0.09 0.897,0.09 0.981,0 0.891,0 0.98,0 0.981,0 0.987,-0.09 0.981,-0.09 0.891,0 0.891,-0.089 0.981,-0.18 0.807,-0.089 0.891,-0.18 0.892,-0.179 0.806,-0.179 0.801,-0.179 0.803,-0.18 0.807,-0.269 0.801,-0.179 0.712,-0.269 0.807,-0.269 0.802,-0.358 0.801,-0.359 0.807,-0.359 0.802,-0.448 0.801,-0.359 0.718,-0.448 0.801,-0.448 0.712,-0.448 0.807,-0.449 0.712,-0.537 0.712,-0.449 0.717,-0.538 0.712,-0.538 0.717,-0.627 0.712,-0.538 -0.538,-0.718 -0.622,-0.627 -0.538,-0.717 -0.622,-0.717 -0.538,-0.718 -0.533,-0.627 -0.628,-0.717 -0.532,-0.717 -0.538,-0.629 -0.623,-0.717 -0.537,-0.717 -0.623,-0.717 -0.538,-0.628 -0.532,-0.717 -0.627,-0.717 -0.534,-0.717 -0.627,-0.628 -0.533,-0.717 -0.717,0.538 -0.712,0.627 -0.717,0.449 -0.712,0.538 -0.712,0.448 -0.717,0.449 -0.713,0.447 -0.801,0.449 -0.717,0.358 -0.712,0.359 -0.717,0.269 -0.802,0.269 -0.801,0.269 -0.807,0.179 -0.891,0.18 -0.891,0.179 -0.892,0.089 -0.981,0.09 -0.986,0.089 -0.981,0 -0.891,0 -0.891,-0.089 -0.807,-0.09 -0.891,-0.179 -0.802,-0.18 -0.807,-0.268 -0.801,-0.269 -0.802,-0.359 -0.802,-0.358 -0.717,-0.448 -0.711,-0.449 -0.718,-0.449 -0.622,-0.537 -0.628,-0.538 -0.622,-0.538 -0.538,-0.627 -0.622,-0.628 -0.538,-0.717 -0.444,-0.628 -0.448,-0.717 -0.442,-0.807 -0.449,-0.717 -0.358,-0.807 -0.269,-0.807 -0.354,-0.807 -0.269,-0.896 -0.179,-0.892 -0.179,-0.806 -0.18,-0.987 -0.089,-0.896 -0.084,-0.896 0,-0.987 0,-0.179 0,-0.897 0.084,-0.896 0.089,-0.807 0.09,-0.897 0.179,-0.806 0.18,-0.808 0.179,-0.806 0.269,-0.807 0.264,-0.717 0.359,-0.896 0.358,-0.808 0.443,-0.807 0.448,-0.717 0.448,-0.717 0.533,-0.718 0.538,-0.627 0.622,-0.628 0.539,-0.627 0.621,-0.538 0.718,-0.538 0.712,-0.538 0.711,-0.448 0.717,-0.448 0.803,-0.359 0.801,-0.359 0.806,-0.358 0.892,-0.269 0.891,-0.269 0.897,-0.18 0.891,-0.179 0.891,-0.089 0.981,-0.09 0.981,0 1.07,0 0.987,0.09 0.981,0.089 0.891,0.09 0.891,0.18 0.897,0.179 0.891,0.268 0.801,0.18 0.803,0.358 0.717,0.359 0.801,0.359 0.627,0.358 0.713,0.449 0,0.896 0,0.896 0,0.897 0,0.896 0,0.987 0,0.896 0,0.897 0,0.896 0,0.897 -0.892,0 -0.806,0 -0.892,0 -0.891,0 -0.891,0 -0.807,0 -0.892,0 -0.891,0 -0.891,0 -0.806,0 -0.892,0 -0.891,0 -0.892,0 -0.806,0 -0.892,0 0,0.896 0,0.807 0,0.897 0,0.896 0,0.897 0,0.807 0,0.896 0,0.897 0,0.896 0,0.808 0,0.896 0,0.896 0,0.897 0,0.807 0,0.891 0.892,0 0.896,0 0.892,0 0.89,0 0.892,0 0.891,0 0.897,0 0.891,0 0.891,0 0.892,0 0.896,0 0.891,0 0.891,0 0.891,0 0.897,0 0.892,0 0.891,0 0.891,0 0.896,0 0.892,0 0.891,0 0.891,0 0.896,0 0.892,0 0.891,0 0.891,0 0.897,0 0.891,0 0.892,0 0.891,0 0.896,0 0.891,0 0.892,0 0,-0.891 0,-0.896 0,-0.897 0,-0.807 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.897 0,-0.806 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.897 0,-0.806 0,-0.897 0,-0.897 0,-0.897 0,-0.896 0,-0.897 0,-0.896 0,-0.807 0,-0.896 0,-0.897 0,-0.897 0,-0.896 0,-0.896 0,-0.808 0,-0.896 0,-0.896 0,-0.897 z"
              style="
                fill: #ffffff;
                fill-opacity: 1;
                fill-rule: nonzero;
                stroke: none;
              "
              id="path28"
            />
          </g>
          <g id="g30" transform="translate(312.9946,481.1594)">
            <path
              d="m 0,0 38.683,0 0,29.922 -38.683,0 0,61.086 40.223,0 0,29.922 -73.072,0 0,-215.951 73.684,0 0,29.923 -40.835,0 z"
              style="
                fill: #ffffff;
                fill-opacity: 1;
                fill-rule: nonzero;
                stroke: none;
              "
              id="path32"
            />
          </g>
          <g id="g34" transform="translate(590.0699,474.6773)">
            <path
              d="m 0,0 0,-48.744 c 0,-8.639 -3.993,-12.647 -12.278,-12.647 l -6.144,0 c -8.595,0 -12.588,4.008 -12.588,12.647 l 0,136.362 c 0,8.638 3.993,12.646 12.588,12.646 l 5.527,0 c 8.29,0 12.283,-4.008 12.283,-12.646 l 0,-42.269 32.233,0 0,44.12 c 0,26.837 -12.895,39.795 -39.6,39.795 l -15.969,0 C -50.654,129.264 -63.86,116 -63.86,89.158 l 0,-139.442 c 0,-26.843 13.206,-40.106 39.912,-40.106 l 16.274,0 c 26.712,0 39.911,13.263 39.911,40.106 l 0,50.284 z"
              style="
                fill: #ffffff;
                fill-opacity: 1;
                fill-rule: nonzero;
                stroke: none;
              "
              id="path36"
            />
          </g>
          <path
            d="m 475.995,386.138 32.854,0 0,215.952 -32.854,0 z"
            style="
              fill: #ffffff;
              fill-opacity: 1;
              fill-rule: nonzero;
              stroke: none;
            "
            id="path38"
          />
          <g id="g40" transform="translate(428.3257,506.1461)">
            <path
              d="m 0,0 c 0,-8.639 -3.987,-12.652 -12.277,-12.652 l -13.511,0 0,79.596 13.511,0 C -3.987,66.944 0,62.935 0,54.298 Z m -7.061,95.944 -51.577,0 0,-215.952 32.85,0 0,78.362 18.727,0 c 26.711,0 39.911,13.263 39.911,40.1 l 0,57.384 c 0,26.842 -13.2,40.106 -39.911,40.106"
              style="
                fill: #ffffff;
                fill-opacity: 1;
                fill-rule: nonzero;
                stroke: none;
              "
              id="path42"
            />
          </g>
          <g id="g44" transform="translate(357.6425,190.8749)">
            <path
              d="M 0,0 188.054,0 92.068,-31.654 Z"
              style="
                fill: #ffffff;
                fill-opacity: 1;
                fill-rule: evenodd;
                stroke: none;
              "
              id="path46"
            />
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 24,
    },
  },
}
</script>

<style lang="scss" scoped></style>
