<template>
  <div>
    <a :href="platformProfileUrl" target="_blank" rel="noopener noreferrer">
      <ScribeTooltip
        v-if="platform == 'Steam'"
        :content="'This is a Steam account.'"
      >
        <SteamIcon />
      </ScribeTooltip>

      <ScribeTooltip
        v-if="platform == 'Epic'"
        :content="'This is an Epic Games account.'"
      >
        <EpicGamesIcon />
      </ScribeTooltip>
    </a>
  </div>
</template>

<script>
import { platformProfileUrl } from '@/_helpers/accountHelper'
import SteamIcon from '@/components/profile/UserInfo/SteamIcon.vue'
import EpicGamesIcon from '@/components/profile/UserInfo/EpicGamesIcon.vue'
import ScribeTooltip from '@/components/ScribeTooltip.vue'
export default {
  components: {
    SteamIcon,
    EpicGamesIcon,
    ScribeTooltip,
  },
  props: {
    platform: {
      type: String,
      required: true,
    },
    platformAccountId: {
      type: String,
      required: true,
    },
  },
  computed: {
    platformProfileUrl() {
      return platformProfileUrl(this.platform, this.platformAccountId)
    },
  },
}
</script>

<style lang="scss" scoped></style>
