<template>
  <div class="card-container">
    <div class="card-item-image">
      <img
        class="profile-image"
        v-lazy="{
          src: avatarUrl,
          loading: '/img/no_avatar.png',
          error: '/img/no_avatar.png',
        }"
        :alt="name || playFabId"
      />
    </div>
    <div class="card-item-info info-container">
      <div class="info-item name-container">
        <h1 class="name-item name">{{ name || playFabId }}</h1>
        <ScribeTooltip
          class="name-item country"
          v-if="country"
          :content="country.name"
        >
          <img
            :alt="country.name"
            :src="country.imageUrl"
            onerror="this.style.display='none'"
          />
        </ScribeTooltip>
      </div>
      <slot name="platform-link" class="info-item" />
      <div class="info-item" v-if="game">
        <ScribeTooltip>
          <template #content>
            Playing {{ game.gameMode }} on {{ game.mapName }}
            <br />
            (server location: {{ game.location }})
          </template>
          <PulseBubbles />
        </ScribeTooltip>
      </div>
      <AccountState
        v-if="globalBan != null"
        class="info-item account-state ban"
        :time="globalBan"
        title="Global ban"
      >
        <template v-slot:tooltip>
          Banned on official and unofficial servers
        </template>
      </AccountState>
      <AccountState
        v-if="globalMute != null"
        class="info-item account-state mute"
        :time="globalMute"
        title="Global mute"
      >
        <template v-slot:tooltip>
          Muted on official and unofficial servers
        </template>
      </AccountState>
      <AccountState
        v-if="officialBan != null"
        class="info-item account-state ban"
        :time="officialBan"
        title="Official ban"
      >
        <template v-slot:tooltip> Banned on official servers </template>
      </AccountState>
      <AccountState
        v-if="officialMute != null"
        class="info-item account-state mute"
        :time="officialMute"
        title="Official mute"
      >
        <template v-slot:tooltip> Muted on official servers </template>
      </AccountState>
    </div>
  </div>
</template>

<script>
import { DEFAULT_PLAYER_DELTA } from '@/_helpers/enums'
import { MMR_THRESHOLDS, getLabelForMmr } from '@/_helpers/rankHelper'
import AccountState from '@/components/profile/UserInfo/AccountState'
import ScribeTooltip from '@/components/ScribeTooltip'
import { mapState } from 'pinia'
import { useSelectedLeaderboard } from '@/stores/selectedLeaderboard'
import PulseBubbles from '@/components/PulseBubbles'

export default {
  components: {
    AccountState,
    ScribeTooltip,
    PulseBubbles,
  },
  props: {
    avatarUrl: {
      type: String,
    },
    name: {
      type: String,
      required: true,
    },
    playFabId: {
      type: String,
      required: true,
    },
    platform: {
      type: String,
    },
    country: {
      default: null,
    },
    game: {
      default: null,
    },
    globalBan: {
      type: Number,
    },
    globalMute: {
      type: Number,
    },
    officialBan: {
      type: Number,
    },
    officialMute: {
      type: Number,
    },
  },
  computed: {
    ...mapState(useSelectedLeaderboard, [
      'currentDelta',
      'selectedDelta',
      'labelByDelta',
    ]),
    delta() {
      if (!this.currentDelta || !this.currentDelta.deltas) {
        return DEFAULT_PLAYER_DELTA
      }
      return this.currentDelta.deltas[this.playFabId]
    },
    games() {
      if (!this.delta) return 0
      return this.delta.wins + this.delta.losses
    },
    mmrClass() {
      const mmr = this.mmr

      for (const mmrThreshold of MMR_THRESHOLDS) {
        if (mmr >= mmrThreshold) return `mmr-${mmrThreshold}`
      }

      return ''
    },
    rankTitle() {
      return getLabelForMmr(this.mmr)
    },
  },
}
</script>

<style lang="scss" scoped>
.card-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 35em;
}

.card-item-image {
  display: flex;
  align-items: center;
  justify-items: center;
}

$profile-image-size: 184px;
$profile-image-size-small: 5.5rem;
.profile-image {
  border-radius: $avatar-border-radius;
  height: $profile-image-size;
  width: $profile-image-size;

  @media (max-width: $base-width) {
    height: $profile-image-size-small;
    width: $profile-image-size-small;
    margin: 0 0.25em;
  }
}

.card-item-info {
  margin: 0 0.3em;
}

.info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.info-item {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.05em 0;
  @include font-size(1.2rem);
}

.name-container {
  display: flex;
  flex-wrap: wrap;
}

.name {
  @include font-size(1.6rem);
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.country {
  margin: 0 0.4em;
}

.account-state {
  text-align: center;

  &.ban {
    color: $banned-font-color;
  }
  &.mute {
    color: #cc0;
  }
}
</style>
