<template>
  <div class="profile-header-container">
    <slot name="user-info"></slot>
    <slot name="queue-rank"></slot>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.profile-header-container {
  display: flex;
  flex-wrap: wrap;
}
</style>
