<template>
  <div class="card-container">
    <div class="card-item-image">
      <RankImage :mmr="mmr" class="rank-image" />
    </div>
    <div class="card-item-info info-container">
      <StatEntry class="info-item rank-title" v-if="mmr">
        <template v-slot:description> Rank </template>
        <template v-slot:value>
          <span :class="mmrClass">{{ rankTitle }}</span>
        </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="mmr">
        <template v-slot:value>
          <span>{{ mmr }}</span>
          <div v-if="mmrDelta != 0" class="delta-wrapper mmr-delta">
            <div class="delta" :class="[mmrDelta > 0 ? 'gain' : 'loss']">
              <div class="delta-arrow"></div>
              <div>{{ Math.abs(mmrDelta) }}</div>
            </div>
          </div>
        </template>
        <template v-slot:description> MMR </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="topXPercent">
        <template v-slot:tooltip>
          {{ rankTitle }} is equivalent to top {{ topXPercentFormatted }} of all
          players. This considers all {{ props.queueType }} players active in
          the last 30 days.
        </template>
        <template v-slot:value>
          <span>{{ topXPercentFormatted }}</span>
        </template>
        <template v-slot:description> Top % </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="leaderboardPosition">
        <template v-slot:description> Position </template>
        <template v-slot:value>
          <span>#{{ leaderboardPosition }}</span>
          <span class="delta-wrapper">
            <div
              v-if="leaderboardPositionDelta != 0"
              class="delta"
              :class="[leaderboardPositionDelta < 0 ? 'gain' : 'loss']"
            >
              <div class="delta-arrow"></div>
              <div>
                {{ Math.abs(leaderboardPositionDelta) }}
              </div>
            </div>
          </span>
        </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="totalWinLossDelta > 0">
        <template v-slot:description> Won &middot; Lost </template>
        <template v-slot:value>{{ winDelta + '·' + lossDelta }}</template>
      </StatEntry>
      <StatEntry class="info-item">
        <template v-slot:value>{{ gamesPlayed }}</template>
        <template v-slot:description> Total games </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="showRankDecay">
        <template v-slot:tooltip>
          {{ rankDecayDateFromNowHint }}
        </template>
        <template v-slot:value>{{ rankDecayDateFromNow }}</template>
        <template v-slot:description> Until hidden </template>
      </StatEntry>
      <StatEntry class="info-item" v-if="showLastRankedDate">
        <template v-slot:tooltip>
          {{ lastRankedDate }}
        </template>
        <template v-slot:value>{{ lastRankedDateFromNow }} ago</template>
        <template v-slot:description> Last played </template>
      </StatEntry>
    </div>
  </div>
</template>

<script setup>
import {
  MMR_THRESHOLDS,
  RANK_DECAY_WAIT,
  getLabelForMmr,
} from '@/_helpers/rankHelper'
import DateFnsWrapper from '@/_helpers/dateFnsWrapper'
import RankImage from '@/components/RankImage.vue'
import StatEntry from '@/components/profile/QueueRank/StatEntry.vue'
import { computed } from 'vue'
import { useSelectedLeaderboard } from '@/stores/selectedLeaderboard'

const props = defineProps({
  queueType: {
    type: String,
    required: true,
  },
  playFabId: {
    type: String,
    required: true,
  },
  snapshots: {
    type: Array,
    default: () => [],
  },
  mmr: {
    type: Number,
    required: true,
  },
  topXPercent: {
    type: Number,
    required: true,
  },
  gamesPlayed: {
    type: Number,
    required: true,
  },
  lastPlayed: {
    type: Date,
  },
  leaderboardPosition: {
    type: Number,
  },
  leaderboardPositionDelta: {
    type: Number,
  },
  winDelta: {
    type: Number,
  },
  lossDelta: {
    type: Number,
  },
})

const selectedLeaderboardStore = useSelectedLeaderboard()

const mmrDelta = computed(() => {
  if (props.snapshots.length <= 1) return 0
  else {
    const referenceTime =
      +new Date() - selectedLeaderboardStore.selectedDelta * 1000
    let lastNonNullMmrIndex = null
    for (let index = 0; index < props.snapshots.length; index++) {
      const element = props.snapshots[index]
      if (element.mmr == null) continue
      if (+element.timestamp - referenceTime > 0) {
        if (lastNonNullMmrIndex != null)
          return props.mmr - props.snapshots[lastNonNullMmrIndex].mmr
        else return props.mmr - element.mmr
      }
      lastNonNullMmrIndex = index
    }
    return 0
  }
})
const topXPercentFormatted = computed(() => {
  if (!props.topXPercent) return '-'
  let rounded = props.topXPercent * 100
  if (rounded < 0.001) rounded = rounded.toFixed(4)
  else if (rounded < 0.01) rounded = rounded.toFixed(3)
  else if (rounded < 0.1) rounded = rounded.toFixed(2)
  else rounded = rounded.toFixed(1)
  return parseFloat(rounded) + '%'
})
const totalWinLossDelta = computed(() => {
  return props.winDelta + props.lossDelta
})
const mmrClass = computed(() => {
  const mmr = props.mmr

  for (const mmrThreshold of MMR_THRESHOLDS) {
    if (mmr >= mmrThreshold) return `mmr-${mmrThreshold}`
  }

  return ''
})
const rankTitle = computed(() => {
  return getLabelForMmr(props.mmr)
})
const rankDecayDate = computed(() => {
  return props.lastPlayed
    ? new Date(+new Date(props.lastPlayed) + RANK_DECAY_WAIT)
    : null
})
const showRankDecay = computed(() => {
  return rankDecayDate.value == null
    ? false
    : +rankDecayDate.value - +new Date() > 0
})
const rankDecayDateFromNow = computed(() => {
  return showRankDecay.value
    ? DateFnsWrapper.formatDistanceToNow(rankDecayDate.value)
    : null
})
const rankDecayDateFromNowHint = computed(() => {
  return showRankDecay.value
    ? `${capitalizeFirstLetter(props.queueType)} rank will be hidden on ${
        rankDecayDate.value
      }`
    : ''
})
const lastRankedDate = computed(() => {
  return props.lastPlayed ? new Date(props.lastPlayed) : null
})
const showLastRankedDate = computed(() => {
  return !showRankDecay.value && lastRankedDate.value != null
})
const lastRankedDateFromNow = computed(() => {
  return showLastRankedDate.value
    ? DateFnsWrapper.formatDistanceToNow(lastRankedDate.value)
    : null
})

function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}
</script>

<style lang="scss" scoped>
$rfs-base-value: 0.8rem;
@import '~rfs/scss';
.card-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 25em;
}

.card-item-image {
  display: flex;
  align-items: center;
  justify-items: center;
}

$rank-image-size: 8em;
$rank-image-size-small: 5.5rem;
.rank-image {
  height: $rank-image-size;
  width: $rank-image-size;

  @media (max-width: $base-width) {
    height: $rank-image-size-small;
    width: $rank-image-size-small;
    margin: 0 0.25rem;
  }
}

.card-item-info {
  flex-grow: 1;
  margin: 0 0.3em;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.05em 0;
  @include font-size(1.2rem);
}

.rank-title {
  @include font-size(1.4rem);
}

.win-loss {
  margin-left: 0.5em;
}

.delta-wrapper {
  margin-left: 0.2em;
}
</style>
