<script>
import { h } from 'vue'
import ScribeTooltip from '@/components/ScribeTooltip.vue'
export default {
  setup(_, context) {
    let renderFunction = () =>
      h('div', { class: 'wrapper' }, [
        h('div', { class: 'entry-value' }, [context.slots.value()]),
        h('div', { class: 'divider' }),
        h('div', {}, [context.slots.description()]),
      ])

    if (context.slots.tooltip) {
      return () =>
        h(
          ScribeTooltip,
          {},
          { default: renderFunction(), content: context.slots.tooltip }
        )
    } else {
      return renderFunction
    }
  },
}
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.entry-value {
  display: flex;
}

.divider {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
</style>
