<template>
  <div class="rank-progression-graph-wrapper">
    <RankProgressionLineChart
      v-if="showGraph"
      class="rank-progression-graph"
      :chart-data="chartData"
    />
    <div v-else class="hints">
      <span v-if="showSnapshotHint">
        Play some ranked and check back here to see your progress.
      </span>
      <span v-else>
        Insufficient datapoints present in selected timeframe (Δ) to show graph.
      </span>
      <br /><br />
      Every ranked game is being recorded.
      <br /><br />
      <small>
        Since 22nd of April 2023 every ranked game is being recorded.
        <br />
        Between 16th of January 2021 to 22nd of April 2023 ranked games were
        recorded whenever a profile was visited.
      </small>
      <br />
    </div>
  </div>
</template>

<script>
import RankProgressionLineChart from '@/components/profile/RankedHistory/RankProgressionLineChart'
import { useSelectedLeaderboard } from '@/stores/selectedLeaderboard'
import DateFnsWrapper from '@/_helpers/dateFnsWrapper'
import { computed } from 'vue'

export default {
  components: { RankProgressionLineChart },
  props: {
    queueType: {
      type: String,
      required: true,
    },
    snapshots: {
      type: Array,
      required: true,
    },
  },
  setup() {
    const selectedLeaderboardStore = useSelectedLeaderboard()
    const selectedDelta = computed(() => selectedLeaderboardStore.selectedDelta)
    return {
      selectedDelta,
    }
  },
  computed: {
    showSnapshotHint() {
      return this.snapshots.length <= 1
    },
    chartLabels() {
      return this.snapshots.map(this.mapToLabelWithGamesPlayed)
    },
    mmrArray() {
      return this.snapshots.map((snapshot) => snapshot.mmr)
    },
    chartData() {
      return {
        labels: this.chartLabels,
        datasets: [
          {
            data: this.mmrArray,
            borderColor: '#807040',
            borderWidth: 2,
            lineTension: 0.01,
            pointRadius: 1,
            pointHoverRadius: 3,
          },
        ],
      }
    },
    showGraph() {
      return this.snapshots && this.snapshots.length >= 2
    },
  },
  methods: {
    mapToLabelWithGamesPlayed(snapshot, index) {
      const distanceToNow = DateFnsWrapper.formatDistanceToNow(
        snapshot.timestamp,
        {
          addSuffix: true,
          includeSeconds: true,
        }
      )

      let label = ''
      let previousSnapshot = this.snapshots[index - 1]
      if (previousSnapshot && previousSnapshot.mmr) {
        const mmrDiff = snapshot.mmr - previousSnapshot.mmr

        label = `${
          (mmrDiff > 0 ? '+' : '') + mmrDiff
        } Points · ${distanceToNow}`
      } else {
        label = `${snapshot.mmr} Points · ${distanceToNow}`
      }

      if (previousSnapshot && previousSnapshot.games && snapshot.games) {
        const samplesDiff = snapshot.games - previousSnapshot.games
        return `${label} (${samplesDiff} game${
          samplesDiff > 1 ? 's' : ''
        } played)`
      } else {
        return label
      }
    },
  },
}
</script>

<style lang="scss" scoped>
$rfs-base-value: 1rem;
@import '~rfs/scss';

.rank-progression-graph {
  display: flex;
  width: 100%;
  height: $min-profile-graph-height;
  max-width: $base-width !important;

  @media (min-width: $base-width) and (min-height: $base-height) {
    height: $desired-profile-graph-height;
    max-width: 80rem !important;
  }
}

.rank-progression-graph-wrapper {
  height: $min-profile-graph-height;
  @media (min-width: $base-width) and (min-height: $base-height) {
    height: $desired-profile-graph-height;
  }
}

.hints {
  @include font-size(1.3rem);
  margin: 0 0.5em;
}
</style>
