<template>
  <LineChart ref="lineRef" :data="chartData" :options="options" />
</template>
<script>
import {
  RANK_LABELS_SHORT,
  MAX_MMR_THRESHOLD,
  getLabelForMmr,
} from '@/_helpers/rankHelper'
import { ref } from 'vue'
import { Line as LineChart } from 'vue-chartjs'

import {
  Chart,
  PointElement,
  LineElement,
  LineController,
  CategoryScale,
  LinearScale,
  Tooltip,
} from 'chart.js'
Chart.register(
  PointElement,
  LineElement,
  LineController,
  CategoryScale,
  LinearScale,
  Tooltip
)

export default {
  components: { LineChart },
  props: {
    chartData: {
      required: true,
    },
  },
  setup() {
    const lineRef = ref()
    const options = ref({
      animation: {
        duration: 150,
      },
      layout: {
        padding: {
          right: 5,
        },
      },
      hover: {
        mode: 'nearest',
        intersect: true,
      },
      scales: {
        x: {
          display: false,
          title: {
            display: false,
          },
        },
        y: {
          display: true,
          title: {
            display: false,
          },
          beginAtZero: false,
          ticks: {
            stepSize: 50,
            callback: (value, index) => {
              if (value > MAX_MMR_THRESHOLD) {
                if (index == 0) return RANK_LABELS_SHORT[MAX_MMR_THRESHOLD]
                else return `${value - MAX_MMR_THRESHOLD}`
              }

              const mod100 = value % 100
              if (mod100 == 50) return '50'

              const mmrThreshold = value - mod100

              return RANK_LABELS_SHORT[mmrThreshold]
            },
            fontColor: '#b1aea2',
          },
          grid: {
            display: true,
            color: '#2e2d26',
          },
          border: {
            display: false,
          },
        },
      },
      responsive: true,
      maintainAspectRatio: false,
      bezierCurve: false,
      plugins: {
        title: {
          display: false,
          text: 'Ranking History',
        },
        legend: { display: false },
        tooltip: {
          mode: 'index',
          intersect: false,
          displayColors: false,
          callbacks: {
            label: function (context) {
              const label = getLabelForMmr(context.raw)
              return `${label} · ${context.raw}`
            },
          },
        },
      },
    })

    return {
      lineRef,
      options,
    }
  },
}
</script>

<style lang="scss" scoped></style>
