<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Mordhau leaderboards and player statistics. Track your rank progression over time.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.svg">
  <title>
    <%= VUE_APP_TITLE %>
  </title>
</head>

<body id="app">
  <noscript>
    <div class="heading-wrapper"
      style="display: flex;flex-wrap: wrap;flex-direction: column;align-items: center;justify-content: center;margin: 0.35rem 0">
      <h1 class="heading" style="font-weight: 400;margin: 0;">Mordhau Scribe</h1>
      <h2 class="sub-heading" style="font-weight: 400;margin: 0;">Leaderboards and player statistics</h2>
      <br />
      <br />
      <strong>Sorry but Mordhau Scribe doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
    </div>
  </noscript>
  <!-- built files will be auto injected -->
</body>

</html>
