<template>
  <div class="wrapper h-95">
    <div v-if="loading" class="h-95">Loading</div>
    <div v-else class="flex-vertical h-95">
      <div class="flex-vertical h-95">
        <div class="content-node h-95">
          <div class="explanation">
            This graph shows the current top 10 players' rank progression within
            the selected time frame. Drag with mouse or two fingers to zoom.
          </div>
          <HistoricalRankProgressionGraph
            ref="chart"
            :queueType="selectedQueueType"
            :names="names"
            :leaderboardSnapshots="leaderboardSnapshots"
          />
        </div>
      </div>
    </div>
    <div class="flex-horizontal">
      <LeaderboardButton />
      <button
        class="scribe-button scribe-button-big"
        @click.prevent="resetZoom()"
      >
        Reset Zoom
      </button>
    </div>
  </div>
</template>

<script>
import { fetchHistoricalTopX } from '@/_services/historicalTopXService'
import HistoricalRankProgressionGraph from '@/components/HistoricalRankProgressionGraph'
import LeaderboardButton from '@/components/LeaderboardButton.vue'
import { mapState } from 'pinia'
import { useMainStore } from '@/stores/main'

export default {
  name: 'HistoricalTopXPage',
  components: { HistoricalRankProgressionGraph, LeaderboardButton },
  data() {
    return {
      duelPlayerNames: [],
      duelLeaderboardSnapshots: [],
      teamfightPlayerNames: [],
      teamfightLeaderboardSnapshots: [],
      leaderboardSnapshots: [],
      names: [],
      loading: true,
    }
  },
  created() {
    this.initialize()
  },
  computed: {
    ...mapState(useMainStore, ['selectedQueueType']),
  },
  methods: {
    resetZoom() {
      this.$refs['chart'].resetZoom()
    },
    initialize() {
      this.loading = true
      fetchHistoricalTopX(this.selectedQueueType).then(
        (historicalTopX) => {
          const mappedLeaderboardSnapshots = []
          historicalTopX.leaderboardSnapshots.forEach((snapshots) => {
            const mappedSnapshots = snapshots.map((snapshot) => {
              return {
                x: new Date(snapshot.timestamp),
                y: snapshot.mmr,
              }
            })
            if (mappedSnapshots.length > 0) {
              mappedSnapshots.push({
                x: new Date(),
                y: mappedSnapshots[mappedSnapshots.length - 1].y,
              })
            }
            mappedLeaderboardSnapshots.push(mappedSnapshots)
          })

          this[`${this.selectedQueueType}PlayerNames`] = historicalTopX.names
          this[`${this.selectedQueueType}LeaderboardSnapshots`] =
            mappedLeaderboardSnapshots
          this.setData()
          this.loading = false
        },
        (error) => {
          console.error(error)
          this.loading = false
        }
      )
    },
    setData() {
      this.leaderboardSnapshots =
        this[`${this.selectedQueueType}LeaderboardSnapshots`]
      this.names = this[`${this.selectedQueueType}PlayerNames`]
    },
  },
  watch: {
    selectedQueueType(selectedQueueType) {
      if (this[`${selectedQueueType}LeaderboardSnapshots`].length == 0) {
        this.initialize()
      } else {
        this.setData()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/scss/styles.scss';

.wrapper {
  @include flex-vertical;
  @include font-size(1.2rem);
}

.content-node {
  margin: 0.5rem 0;
  @include flex-vertical;
  text-align: center;
}

.h-95 {
  height: 95%;
}

.explanation {
  max-width: $base-width;
}
</style>
