<template>
  <div class="profile-wrapper">
    <div class="profile-content-wrapper">
      <div
        v-if="loading"
        class="status-message"
        :class="{ 'is-loading': loading }"
      >
        Loading
      </div>
      <div v-else-if="hasError" class="status-message">
        <div v-if="!exists">Player not found</div>
        <div v-if="!validId">Invalid player ID</div>
      </div>
      <div v-else class="profile-content">
        <ProfileHeader
          class="profile-header profile-content-node"
          v-if="!loading && exists && validId"
        >
          <template v-slot:user-info>
            <UserInfo
              :avatarUrl="avatarUrl"
              :name="name"
              :playFabId="identifier"
              :platform="platform"
              :country="country"
              :game="game"
              :globalBan="globalBan"
              :globalMute="globalMute"
              :officialBan="officialBan"
              :officialMute="officialMute"
            >
              <template v-slot:platform-link v-if="platform">
                <PlatformLink
                  :platform="platform"
                  :platformAccountId="platformAccountId"
                />
              </template>
            </UserInfo>
          </template>
          <template v-slot:queue-rank>
            <QueueRank
              :queueType="selectedQueueType"
              :playFabId="identifier"
              :gamesPlayed="gamesPlayed"
              :lastPlayed="lastPlayed"
              :mmr="mmr"
              :topXPercent="topXPercent"
              :snapshots="snapshots"
              :leaderboardPosition="leaderboardPosition"
              :leaderboardPositionDelta="leaderboardPositionDelta"
              :winDelta="winLoss.wins"
              :lossDelta="winLoss.losses"
            />
          </template>
        </ProfileHeader>

        <CasualStats
          class="profile-content-node casual-stats"
          :casualStatsInput="casualStats"
          :platform="platform"
        />
        <RankProgressionGraph
          :queue-type="selectedQueueType"
          class="profile-content-node rank-progression"
          :snapshots="snapshotsWithinSelectedDelta"
        />
      </div>
    </div>
    <div class="flex-horizontal profile-controls" v-if="!loading">
      <LeaderboardButton />
    </div>
  </div>
</template>

<script>
import { fetchPlayerProfile } from '@/_services/playerProfileService'
import ProfileHeader from '@/components/profile/ProfileHeader.vue'
import LeaderboardButton from '@/components/LeaderboardButton.vue'
import UserInfo from '@/components/profile/UserInfo/UserInfo.vue'
import PlatformLink from '@/components/profile/UserInfo/PlatformLink.vue'
import QueueRank from '@/components/profile/QueueRank/QueueRank.vue'
import CasualStats from '@/components/profile/CasualStats/CasualStats.vue'
import RankProgressionGraph from '@/components/profile/RankedHistory/RankProgressionGraph.vue'
import { QUEUE_TYPE, LEGACY_QUEUE_TYPE } from '@/_helpers/enums'
import { countryByCode } from '@/_helpers/accountHelper'
import RouterBack from '@/mixins/RouterBack'
import { mapState } from 'pinia'
import { computed, ref } from '@vue/reactivity'
import { useHeadSafe } from '@unhead/vue'
import { useSelectedLeaderboard } from '@/stores/selectedLeaderboard'

export default {
  name: 'PlayerProfilePage',
  components: {
    ProfileHeader,
    UserInfo,
    QueueRank,
    PlatformLink,
    CasualStats,
    RankProgressionGraph,
    LeaderboardButton,
  },
  mixins: [RouterBack],
  setup() {
    const loading = ref(true)
    const exists = ref(true)
    const name = ref('...')

    const computedPageTitle = computed(() => {
      if (loading.value) return '...'
      if (!exists.value) return 'Player not found'
      return name.value
    })

    useHeadSafe({
      title: computedPageTitle,
      titleTemplate: `%s · ${process.env.VUE_APP_TITLE}`,
    })

    return {
      exists,
      loading,
      name,
      computedPageTitle,
    }
  },
  data() {
    return {
      identifier: null,
      duelReports: null,
      teamfightReports: null,
      validId: true,
      queueTypeEnum: QUEUE_TYPE,
      // profile
      platform: null,
      platformAccountId: null,
      avatarUrl: null,
      game: null,
      casualStats: null,
      duelLeaderboardPosition: null,
      duelTopXPercent: null,
      teamfightLeaderboardPosition: null,
      teamfightTopXPercent: null,
      duelLeaderboardDeltas: null,
      teamfightLeaderboardDeltas: null,
      playerReports: null,
      countryCode: null,
      globalBan: null,
      globalMute: null,
      officialBan: null,
      officialMute: null,
    }
  },
  created() {
    this.initialize()
  },
  computed: {
    ...mapState(useSelectedLeaderboard, ['selectedQueueType', 'selectedDelta']),
    country() {
      if (!this.countryCode) return null
      return countryByCode(this.countryCode)
    },
    snapshots() {
      return this[`${this.selectedQueueType}Reports`] || []
    },
    snapshotsWithinSelectedDelta() {
      const startDate = new Date(+new Date() - this.selectedDelta * 1000)

      const firstNonNullOutsideDeltaIndex = this.snapshots
        .slice()
        .reverse()
        .findIndex(
          (snapshot) => snapshot.timestamp < startDate && snapshot.mmr != null
        )

      if (firstNonNullOutsideDeltaIndex != -1) {
        const startIndex =
          this.snapshots.length - 1 - firstNonNullOutsideDeltaIndex
        return this.snapshots.slice(startIndex)
      } else {
        return this.snapshots
      }
    },
    winLoss() {
      if (
        !this.snapshotsWithinSelectedDelta ||
        this.snapshotsWithinSelectedDelta.length < 2
      )
        return { wins: 0, losses: 0 }
      let wins = 0
      let losses = 0

      for (
        let index = 1;
        index < this.snapshotsWithinSelectedDelta.length;
        index++
      ) {
        const previousElement = this.snapshotsWithinSelectedDelta[index - 1]
        const element = this.snapshotsWithinSelectedDelta[index]
        if (element.mmr > previousElement.mmr) wins++
        if (element.mmr < previousElement.mmr) losses++
      }
      return { wins, losses }
    },
    hasError() {
      return !this.exists || !this.validId
    },
    selectedQueueTypeReports() {
      return this[`${this.selectedQueueType}Reports`]
    },
    latestReport() {
      if (
        this.selectedQueueTypeReports == null ||
        this.selectedQueueTypeReports.length == 0
      )
        return null
      return this.selectedQueueTypeReports[
        this.selectedQueueTypeReports.length - 1
      ]
    },
    lastPlayed() {
      if (this.latestReport == null) return null
      return this.latestReport.timestamp
    },
    gamesPlayed() {
      if (this.latestReport == null) return 0
      return this.latestReport.games
    },
    mmr() {
      if (this.latestReport == null) return 0
      return this.latestReport.mmr
    },
    leaderboardPosition() {
      return this[`${this.selectedQueueType}LeaderboardPosition`]
    },
    topXPercent() {
      return this[`${this.selectedQueueType}TopXPercent`]
    },
    leaderboardDeltas() {
      const deltas = this[`${this.selectedQueueType}LeaderboardDeltas`]
      if (deltas && deltas[this.selectedDelta])
        return deltas[this.selectedDelta]
      return null
    },
    leaderboardPositionDelta() {
      return this?.leaderboardDeltas?.position
    },
    leaderboardWinDelta() {
      return this?.leaderboardDeltas?.wins
    },
    leaderboardLossDelta() {
      return this?.leaderboardDeltas?.losses
    },
  },
  methods: {
    initialize() {
      this.identifier = this.$route.params.identifier
      this.loading = true
      this.duelReports = null
      this.teamfightReports = null
      this.name = '...'
      this.platform = null
      this.platformAccountId = null
      this.avatarUrl = null
      this.game = null
      this.casualStats = null
      this.duelLeaderboardPosition = null
      this.duelTopXPercent = null
      this.teamfightLeaderboardPosition = null
      this.teamfightTopXPercent = null
      this.duelLeaderboardDeltas = null
      this.teamfightLeaderboardDeltas = null
      this.countryCode = null
      this.globalBan = null
      this.globalMute = null
      this.officialBan = null
      this.officialMute = null

      fetchPlayerProfile(this.identifier).then(
        (profile) => {
          this.name = profile.name
          this.platform = profile.platform
          this.platformAccountId = profile.platformAccountId
          this.avatarUrl = profile.avatarUrl
          this.game = profile.game
          this.casualStats = profile.casualStats
          this.duelLeaderboardPosition = profile.duelLeaderboardPosition
          this.duelTopXPercent = profile.duelTopXPercent
          this.teamfightLeaderboardPosition =
            profile.teamfightLeaderboardPosition
          this.teamfightTopXPercent = profile.teamfightTopXPercent
          this.duelLeaderboardDeltas = profile.duelLeaderboardDeltas
          this.teamfightLeaderboardDeltas = profile.teamfightLeaderboardDeltas
          this.countryCode = profile.countryCode
          this.globalBan = profile.globalBan
          this.globalMute = profile.globalMute
          this.officialBan = profile.officialBan
          this.officialMute = profile.officialMute
          this.playerReports = profile.playerReports || []
          this.ensurePlayerReportsFiltered()
          this.loading = false
        },
        (error) => {
          if (error == 404) {
            this.exists = false
          }
          if (error == 409) {
            this.validId = false
          }
          this.loading = false
        }
      )
    },
    ensurePlayerReportsFiltered() {
      if (this[`${this.selectedQueueType}Reports`] == null) {
        this.filterPlayerReports(this.selectedQueueType)
      }
    },
    filterPlayerReports(queueType) {
      const snapshots = []
      this.playerReports.forEach((report) => {
        if (LEGACY_QUEUE_TYPE[queueType] == report.queueType) {
          snapshots.push({
            mmr: report.mmr,
            timestamp: new Date(report.gameTimestamp),
            games: report.games,
          })
        }
      })

      this[`${queueType}Reports`] = snapshots
    },
    parseDates(object) {
      object.timestamp = new Date(object.timestamp)
      return object
    },
  },
  watch: {
    '$route.params.identifier': function (newIdentifier) {
      if (newIdentifier) {
        this.initialize()
      }
    },
    selectedQueueType() {
      this.ensurePlayerReportsFiltered()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/scss/styles.scss';
.profile-header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.rank-progression {
  @include flex-vertical;
}

$min-profile-content-height: $min-profile-graph-height + 7rem;
$desired-profile-content-height: $desired-profile-graph-height + 10rem;

.profile-wrapper {
  @include flex-vertical;
}

.profile-content-wrapper {
  @include flex-vertical;

  min-height: $min-profile-content-height;

  @media (min-width: $base-width) and (min-height: $base-height) {
    min-height: $desired-profile-content-height;
  }
}

.profile-content {
  @include flex-vertical;
  justify-content: space-between;
  flex-grow: 1;
}

.profile-content-node {
  margin: 0.1rem 0;
  text-align: center;
  flex-grow: 1;

  @media (min-width: $base-width) and (min-height: $base-height) {
    margin: 0.5rem 0;
  }
}

.profile-controls {
  align-items: flex-end;
}

.profile-controls > .scribe-button {
  margin: 0 0.2rem;
}

.is-loading {
  border-radius: 10%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.status-message {
  margin: 2rem 0;
}

.profile-hint {
  cursor: default;
}
</style>
