<template>
  <LineChart ref="lineRef" :data="chartData" :options="options" />
</template>
<script setup>
import zoomPlugin from 'chartjs-plugin-zoom'
import { RANK_LABELS_SHORT, MAX_MMR_THRESHOLD } from '@/_helpers/rankHelper'
import { ref } from 'vue'
import { Line as LineChart } from 'vue-chartjs'
import 'chartjs-adapter-date-fns'

import {
  Chart,
  PointElement,
  LineElement,
  LineController,
  LinearScale,
  TimeScale,
  Tooltip,
  Legend,
} from 'chart.js'
Chart.register(
  PointElement,
  LineElement,
  LineController,
  LinearScale,
  TimeScale,
  Tooltip,
  zoomPlugin,
  Legend
)

defineProps({
  chartData: {
    required: true,
  },
})

const lineRef = ref()

const options = ref({
  animation: {
    duration: 300,
  },
  layout: {
    padding: {
      left: 5,
      right: 5,
      top: 0,
      bottom: 0,
    },
  },
  hover: {
    mode: 'nearest',
    intersect: true,
  },
  scales: {
    x: {
      type: 'time',
      time: {
        unit: 'week',
      },
    },
    y: {
      display: true,
      scaleLabel: {
        display: false,
      },
      ticks: {
        beginAtZero: false,
        stepSize: 50,
        callback: function (value) {
          if (value > MAX_MMR_THRESHOLD) return value - MAX_MMR_THRESHOLD

          const mod100 = value % 100
          if (mod100 == 50) return mod100

          const mmrThreshold = value - mod100
          return RANK_LABELS_SHORT[mmrThreshold]
        },
        fontColor: '#b1aea2',
      },
      grid: {
        display: true,
        color: '#2e2d26',
      },
      border: {
        display: false,
      },
    },
  },
  responsive: true,
  maintainAspectRatio: false,
  bezierCurve: false,
  plugins: {
    title: {
      display: false,
      text: 'Ranking History',
    },
    legend: { display: true },
    tooltip: {
      mode: 'nearest',
      intersect: false,
      callbacks: {
        label: function (context) {
          const label = context.dataset.label
          return `${label} · ${context.raw.y}`
        },
        labelColor: function (context) {
          const dataset = context.dataset
          return {
            borderColor: dataset.borderColor,
            backgroundColor: dataset.borderColor,
          }
        },
      },
    },
    zoom: {
      zoom: {
        wheel: { enabled: false },
        drag: {
          enabled: true,
          borderColor: 'rgba(225,225,225,0.3)',
          borderWidth: 3,
          backgroundColor: 'rgba(225,225,225,0.2)',
          animationDuration: 200,
        },
        pinch: {
          enabled: true,
        },
        mode: 'xy',
        threshold: 2,
        sensitivity: 3,
      },
    },
  },
})

function resetZoom() {
  lineRef.value.chart.resetZoom()
}

defineExpose({
  lineRef,
  resetZoom,
})
</script>

<style lang="scss" scoped></style>
