<template>
  <HistoricalRankProgressionLineChart
    ref="chart"
    class="rank-progression-graph"
    :chart-data="chartData"
    :key="queueType"
  />
</template>

<script>
import HistoricalRankProgressionLineChart from '@/components/HistoricalRankProgressionLineChart'
import { useSelectedLeaderboard } from '@/stores/selectedLeaderboard'
import { computed } from 'vue'

const UNIQUE_BORDER_COLORS = ['#c9b037', '#d7d7d7', '#a4580e']
const COLOR_INDEX_OFFSET = UNIQUE_BORDER_COLORS.length

const BORDER_COLORS = [
  'rgba(120, 156, 240, 1)',
  'rgba(255, 128, 128, 1)',
  'rgba(176, 222, 111, 1)',
  'rgba(204, 102, 192, 1)',
  'rgba(93, 186, 171, 1)',
  'rgba(242, 186, 121, 1)',
  'rgba(142, 113, 227, 1)',
  'rgba(191, 96, 128, 1)',
  'rgba(124, 202, 247, 1)',
  'rgba(170, 255, 195, 1)',
  'rgba(255, 216, 177, 1)',
  'rgba(70, 153, 144, 1)',
  'rgba(230, 190, 255, 1)',
  'rgba(110, 209, 105, 1)',
]

export default {
  components: { HistoricalRankProgressionLineChart },
  props: {
    queueType: {
      type: String,
      required: true,
    },
    names: {
      type: Array,
      required: true,
      default: () => [],
    },
    leaderboardSnapshots: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  setup() {
    const selectedLeaderboardStore = useSelectedLeaderboard()
    const selectedDelta = computed(() => selectedLeaderboardStore.selectedDelta)
    return {
      selectedDelta,
    }
  },
  computed: {
    snapshotsWithinSelectedDelta() {
      const snapshotsWithinSelectedDelta = []
      const startDate = new Date(+new Date() - this.selectedDelta * 1000)

      this.leaderboardSnapshots.forEach((snapshots) => {
        const startIndex = snapshots.findIndex((snapshot, index) => {
          if (index >= snapshots.length - 1) return false
          return snapshots[index + 1].x >= startDate
        })

        const withinDelta = startIndex != -1 ? snapshots.slice(startIndex) : []
        if (withinDelta[0].x < startDate) {
          withinDelta.unshift({
            ...withinDelta.shift(),
            x: startDate,
          })
        }
        snapshotsWithinSelectedDelta.push(withinDelta)
      })

      return snapshotsWithinSelectedDelta
    },
    chartData() {
      const datasets = this.snapshotsWithinSelectedDelta.map(
        (graphData, index) => {
          const dataset = {
            label: this.names[index],
            borderColor: determineLineBorderColor(index),
            borderWidth: 2,
            data: graphData,
            lineTension: 0.01,
            pointRadius: 1,
            pointHoverRadius: 3,
            backgroundColor: 'rgba(255, 255, 255, 0)',
          }

          if (index - COLOR_INDEX_OFFSET > BORDER_COLORS.length - 1) {
            dataset.borderDash = determineLineBorderDash(index)
          }
          return dataset
        }
      )

      return {
        datasets,
      }
    },
  },
  methods: {
    resetZoom() {
      this.$refs['chart'].resetZoom()
    },
  },
}

function determineLineBorderColor(index) {
  if (index < COLOR_INDEX_OFFSET) return UNIQUE_BORDER_COLORS[index]
  return BORDER_COLORS[(index - COLOR_INDEX_OFFSET) % BORDER_COLORS.length]
}

function determineLineBorderDash(index) {
  const indexWithOffset = index - COLOR_INDEX_OFFSET
  if (indexWithOffset < 2 * BORDER_COLORS.length - 1) return [20, 5]
  if (indexWithOffset < 3 * BORDER_COLORS.length - 1) return [10, 5]
  else return [2, 2]
}
</script>

<style lang="scss" scoped>
.rank-progression-graph {
  display: flex;
  width: 100%;
  height: 100%;
}
</style>
