<template>
  <button
    class="scribe-button scribe-button-big"
    @click.prevent="navigateToLeaderboard"
  >
    Leaderboard
  </button>
</template>

<script>
import { mapState } from 'pinia'
import { useMainStore } from '@/stores/main'

export default {
  computed: {
    ...mapState(useMainStore, ['selectedQueueType', 'selectedLeaderboardType']),
  },
  methods: {
    navigateToLeaderboard() {
      this.$router.push(
        `/${this.selectedQueueType}${this.selectedLeaderboardType}`
      )
    },
  },
}
</script>

<style lang="scss" scoped></style>
