<template>
  <div class="pulse-box" :style="pulseBoxStyle">
    <div class="pulse-container" :style="pulseContainerStyle">
      <div
        v-for="(bubble, index) in bubbleStyles"
        :key="index"
        class="pulse-bubble"
        :style="bubble"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: '20',
    },
    bubbleDiameter: {
      type: String,
      default: '15px',
    },
    animationDurationMillis: {
      type: Number,
      default: 10000,
    },
    bubbleCount: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    bubbleStyles() {
      const bubbles = []
      const bubbleIncrement =
        this.animationDurationMillis / (this.bubbleCount - 1)
      for (let i = 0; i < this.bubbleCount; i++) {
        const animationDelay = i * bubbleIncrement
        const style =
          `width: ${this.bubbleDiameter};` +
          `height: ${this.bubbleDiameter};` +
          `animation-duration: ${this.animationDurationMillis}ms;` +
          `animation-timing-function: ease;` +
          `animation-delay: ${animationDelay}ms;` +
          `animation-iteration-count: infinite;` +
          `animation-direction: alternate;`
        bubbles.push(style)
      }
      return bubbles
    },
    pulseBoxStyle() {
      return `height: ${this.bubbleDiameter};`
    },
    pulseContainerStyle() {
      return `width: ${this.width};`
    },
  },
}
</script>

<style lang="scss" scoped>
@keyframes pulse-loading {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

.pulse-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pulse-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  border-radius: 50%;
  background-color: #45d421;
  animation-name: pulse-loading;
}
</style>
