$rfs-base-value: 0.8rem !default;
@import '~rfs/scss';
@import '@/scss/variables.scss';

body {
  background-color: #0c0e0f;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  color: $font-color;
  height: 100vh;
}

button,
input {
  font-family: 'Times New Roman', Times, serif;
}

.entry-text {
  @include font-size(1.3rem);
}

.scribe-button {
  @include font-size(1.1rem);
  color: $font-color;
  padding: 0.25rem 0.5rem;
  margin: 0 0 0.2rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $background-color-light;
  }

  :active:disabled {
    background-color: lighten($background-color-light, 5%);
  }

  &:disabled {
    background-color: lighten($background-color, 10%);
  }

  &.active,
  &.router-link-exact-active {
    background-color: $background-color-active;
  }

  .scribe-button-group > & {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  @include scribe-box;
}

.scribe-button-big {
  padding: 0.7rem;
  width: 10rem;
}

.scribe-button-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.scribe-input {
  @include font-size(1.1rem);
  text-align: center;
  padding: 0.25rem;
  margin: 0 0 0.2rem;
  color: $font-color;

  @include scribe-box;
  background-color: lighten($scribe-box-background-color, 3%);

  &:hover,
  :focus {
    transition: background-color 0.1s;
  }

  &::placeholder {
    color: lighten($font-color, 10%);
  }

  &:hover {
    background-color: lighten($scribe-box-background-color, 5%);
  }
  &:focus {
    background-color: lighten($scribe-box-background-color, 7%);

    &::placeholder {
      color: $font-color, 30%;
    }
  }
}

.glow {
  z-index: 1;
  box-shadow: 0 0 1rem #ffd96f;
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 0 12px 30px rgba($background-color, 0.6);
  }
}

.bottom-corner-borders {
  background: linear-gradient(
        to right,
        $highlight-font-color 1px,
        transparent 1px
      )
      0 100%,
    linear-gradient(to left, $highlight-font-color 1px, transparent 1px) 100%
      100%,
    linear-gradient(to top, $highlight-font-color 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $highlight-font-color 1px, transparent 1px) 100%
      100%;

  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.scribe-toast {
  @include font-size(1.3rem);
  text-align: center;
  cursor: pointer;
  &.warn {
    color: black;
  }
}

.error-message {
  color: rgb(133, 0, 0);
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: $base-width;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #141414;
  background: #2e2d26;
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #ac8b29;
  position: absolute;
  top: 5px;
  left: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a {
  color: $link-font-color;
}

a:hover {
  color: $link-hover-font-color;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.mmr-2600 {
  color: rgb(219, 60, 40);
}

.mmr-2100 {
  color: rgb(253, 120, 241);
}

.mmr-1600 {
  color: rgb(99, 224, 255);
}

.mmr-1100 {
  color: rgb(250, 209, 126);
}

.mmr-600 {
  color: rgb(165, 171, 162);
}

.mmr-100 {
  color: rgb(255, 164, 118);
}

.delta-wrapper {
  @include font-size(0.8rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  min-width: 0.9rem;
  text-align: right;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.delta {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  $arrow-size: 5px;

  &.gain > .delta-arrow {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-bottom: $arrow-size solid rgb(19, 129, 0);
  }

  &.loss > .delta-arrow {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid rgb(133, 0, 0);
  }

  &.loss {
    flex-direction: column-reverse;
  }
}

.scribe-tooltip > :not(.popper) {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
