$font-color: #b1aea2;
$warning-font-color: orange;
$highlight-font-color: #d0a929;
$banned-font-color: #9d0000;
$link-font-color: #d0a929;
$link-hover-font-color: #fff4d0;

$background-color: #0c0e0f;
$background-color-light: #2e2d26;
$background-color-active: #3f3310;

$controls-height: 6rem;
$scribe-box-background-color:  #181818;
$base-width: 40rem;
$base-height: 55rem;
$leaderboard-entry-width: 36rem;

$min-profile-graph-height: 20rem;
$desired-profile-graph-height: 33rem;

$avatar-border-radius: 10%;

@mixin scribe-box {
  background-color: $scribe-box-background-color;
  border: 2px solid #141414;
  -moz-box-shadow: inset 0 0 0.2em #000000;
  -webkit-box-shadow: inset 0 0 0.2em #000000;
  box-shadow: inset 0 0 0.2em #000000;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}

@mixin flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.flex-horizontal {
  @include flex-horizontal;
}

.flex-vertical {
  @include flex-vertical;
}

:root {
  --popper-theme-background-color: black;
  --popper-theme-background-color-hover: black;
  --popper-theme-text-color: #{lighten($font-color, 20%)};
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-color: #{#77614b};
  --popper-theme-border-radius: 3px;
  --popper-theme-padding: 0.3rem;
  --popper-theme-box-shadow: none;
}
